.imagess {
    position: relative;
    background: url("../public/66.jpg.jpg");
    width: 100vw;
    margin-top: 8rem;
    height: 87vh;
}

.jjjj {
    font-size: 2.5rem;
    color: white;
    margin-left: 10rem;
    padding-top: 5rem;
}

.jjj2 {
    color: white;
    width: 39rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.container333 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    width: 60%;
}

.containers3333 {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: -3rem;
}

.box0 {
    position: relative;
    padding: 35px 0;
    display: flex;
}

.text332 {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.icons0 {
    min-width: 60px;
    height: 63px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22PX;
}

.text222 {
    font-weight: 500;
    color: whitesmoke;
    font-size: x-large
}

.text323 {
    color: whitesmoke;
    margin-top: 1rem;
}

.container3334 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    width: 60%;
}

.containers33334 {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.box00 {
    position: relative;
    padding: 35px 0;
    display: flex;
}

.text3320 {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.icons00 {
    min-width: 60px;
    height: 63px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22PX;
    margin-left: 1rem;
}

.text2220 {
    font-weight: 500;
    color: whitesmoke;
    font-size: x-large
}

.text3230 {
    color: whitesmoke;
    margin-top: 1rem;
}