    .videowidth {
        cursor: pointer;
        margin-top: 3rem;
        width: 80.5rem;
        height: 42rem;
        margin-left: -1rem;
    }
    
    .play {
        background: white;
        color: #fff;
        font-size: 50px;
        width: 100px;
        height: 100px;
        position: absolute;
        margin-top: -29rem;
        margin-left: 38rem;
        text-align: center;
        line-height: 100px;
        border-radius: 50%;
    }
    
    .play::before,
    .play::after {
        content: "";
        position: absolute;
        border: 2px solid #ccc;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        animation: animate 1.5s linear infinite;
        opacity: 0;
        border-radius: 50%;
    }
    
    @keyframes animate {
        0% {
            transform: scale(.5);
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
        }
    }
    
    .pausebutton {
        width: 36px;
        margin-top: 1rem;
        margin-left: 0rem;
    }
    
    .videoHead {
        font-size: 3rem;
        margin-left: -6rem;
        margin-top: 1rem;
    }
    
    @media screen and (min-width:1000px) and (max-width:1100px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (min-width: 870px) and (max-width: 1000px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (min-width:800px) and (max-width:870px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (min-width: 660px) and (max-width: 800px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (max-width: 660px) and (min-width: 600px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (max-width: 600px) and (min-width: 500px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (min-width: 400px) and (max-width: 500px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    
    @media screen and (max-width: 400px) {
        .videowidth {
            width: 91%;
            margin-left: 4.5%;
            margin-top: -6rem;
        }
        .play {
            margin-top: -25rem;
            margin-left: 5.5rem;
        }
        .videoHead {
            margin-top: -2rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }