.house {
    width: 18vw;
    height: 31vh;
}

.wishlistpics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem
}

@media screen and (max-width: 350px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 500px) and (max-width: 550px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1150px) {
    .house {
        width: 33vw;
        height: 27vh;
    }
    .wishlistpics {
        flex-wrap: wrap;
    }
}