.card-img-top {
    width: 60px;

}
.card{
    background: black;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.card-text{
    width:100%;
}
.text{
    color:#DFDFDF;
}
.cardtext{
color: #DFDFDF;
}