.contactcontainer {
    min-height: 100vh;
    padding: 50px 100px;
    background: rgba(0, 0, 0, 0.7)url("../public/house.jpg");
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    border: 0;
    right: 0;
    background-blend-mode: darken;
}

.contacttitle {
    max-width: 800px;
    text-align: center;
}

.titles {
    font-size: 45px;
    font-weight: 500;
    color: whitesmoke;
    margin-top: -3rem;
}

.contactparagraph {
    color: whitesmoke;
    margin-top: 1rem;
    font-size: 3rem;
}

.contactcontainers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    width: 60%;
}

.containerhead {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: -9rem;
}

.contactbox {
    position: relative;
    padding: 35px 0;
    display: flex;
}

.contacttext {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.contacticons {
    min-width: 60px;
    height: 60px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22PX;
}

.contacttexts {
    font-weight: 500;
    color: whitesmoke;
}

.contactsparagraph {
    color: whitesmoke;
}

.contactinput {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    margin-top: -3.5rem;
}

.inputbox {
    position: relative;
    width: 250px;
}

.inputbox input {
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #777;
    background: transparent;
    margin-top: 2rem;
}

.inputbox span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.5s;
    padding: 30px 0px;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: antiquewhite;
    font-size: 1.65rem;
    padding: 0 10px;
    background: black;
    border-left: 1px solid pink;
    top: -12px;
}

.inputbox textarea {
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #777;
    background: transparent;
    margin-top: 2rem;
    resize: none;
    width: 100%;
    height: 7rem;
}

.inputbox textarea:focus~span,
.inputbox textarea:focus~span {
    color: antiquewhite;
    font-size: 1.65rem;
    padding: 0 10px;
    background: black;
    border-left: 1px solid pink;
    top: -12px;
}

.btn {
    height: 55px;
    width: 12rem;
    font-size: 1rem;
    color: antiquewhite;
    background: black;
}

@media screen and (min-width:1000px) and (max-width:1100px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
    }
    .inputbox {
        margin-left: 6rem;
    }
    .containerhead {
        margin-left: 0rem;
        margin-top: -7rem;
    }
    .btn {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .textareas {
        margin-left: 3rem;
    }
    .labels {
        margin-top: -8rem;
        margin-left: 3rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
}

@media screen and (min-width: 870px) and (max-width: 1000px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
    }
    .inputbox {
        margin-left: 6rem;
    }
    .containerhead {
        margin-left: -2rem;
        margin-top: -7rem;
    }
    .btn {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .textareas {
        margin-left: 3rem;
    }
    .labels {
        margin-top: -8rem;
        margin-left: 3rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
}

@media screen and (min-width:800px) and (max-width:870px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
    }
    .inputbox {
        margin-left: 6rem;
    }
    .containerhead {
        margin-left: 0rem;
        margin-top: -7rem;
    }
    .btn {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .textareas {
        margin-left: 3rem;
    }
    .labels {
        margin-top: -8rem;
        margin-left: 3rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
}

@media screen and (min-width: 660px) and (max-width: 800px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
        margin-left: 0rem;
    }
    .inputbox {
        margin-left: 6rem;
    }
    .containerhead {
        margin-left: -3rem;
        margin-top: -6rem;
    }
    .btn {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .textareas {
        margin-left: 3rem;
    }
    .labels {
        margin-top: -8rem;
        margin-left: 3rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
}

@media screen and (max-width: 660px) and (min-width: 600px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
        margin-left: -14rem;
    }
    .inputbox {
        margin-left: 6rem;
    }
    .containerhead {
        margin-left: 1rem;
        margin-top: -7rem;
    }
    .btn {
        margin-top: -2rem;
    }
    .textareas {
        margin-left: 3rem;
    }
    .labels {
        margin-top: -8rem;
        margin-left: 3rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
        margin-left: -14rem;
    }
    .containerhead {
        margin-left: -1rem;
        margin-top: -7rem;
    }
    .inputbox {
        margin-left: 6rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
    .textareas {
        margin-left: 3rem;
    }
    .labels {
        margin-top: -8rem;
        margin-left: 3rem;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    .contactcontainer {
        width: 100vw;
    }
    .contactcontainers {
        justify-content: flex-start;
        margin-left: -14rem;
    }
    .containerhead {
        margin-left: -1rem;
        margin-top: -6rem;
    }
    .inputbox {
        margin-left: 3rem;
    }
    .textareas {
        margin-left: 1rem;
    }
    .btn {
        margin-top: -1rem;
    }
    .contactinput {
        margin-top: -3rem;
    }
    .labels {
        margin-top: -9rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .contactcontainer {
        width: 100vw;
    }
    .inputbox {
        margin-left: -1rem;
    }
    .contactinput {
        margin-left: 4rem;
    }
    .contactcontainers {
        justify-content: flex-start;
        margin-left: -17rem;
    }
    .containerhead {
        margin-left: -1rem;
        margin-top: -4rem;
    }
    .labels {
        margin-top: 1rem;
        margin-left: -1rem;
    }
    .textareas {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 320px) {
    .textareas {
        margin-left: -1rem;
    }
}