.wishlistpics {
    display: flex;
    margin-top: 5rem;
    margin-left: 2rem;
    gap: 1rem
}

.house {
    width: 14.2rem;
    height: 12.1rem;
}

@media screen and (max-width:350px) {
    .wishlistpics {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-left: 3rem;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .wishlistpics {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-left: 5rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .wishlistpics {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-left: 6rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
    .wishlistpics {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-left: 7rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 550px) {
    .wishlistpics {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-left: 8rem;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .wishlistpics {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-left: 0rem;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .wishlistpics {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .wishlistpics {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    .wishlistpics {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-left: 0rem;
    }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
    .wishlistpics {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        margin-left: 0rem;
    }
}