.contact {
    background: rgba(0, 0, 0, 0.7)url("../public/house.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-blend-mode: darken;
}

.content {
    width: 100vw;
    text-align: center;
}

.heading {
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.contactpara {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.contactcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon {
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contachhead {
    font-weight: 500;
    color: #00bcd4;
}

.contactform {
    width: 40%;
    padding: 40px;
}

.headings {
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputbox input {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 1.2px solid #333;
    outline: none;
    background: transparent;
    width: 17rem;
    height: 40px;
}

.inputbox textarea {
    width: 17rem;
    height: 100px;
    padding-left: 3px;
    padding-top: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 1.2px solid #333;
    outline: none;
    resize: none;
    background: transparent;
    border-radius: 3px;
}

.label {
    position: absolute;
    top: 31%;
    left: 10px;
    transform: translateY(-6%);
    font-size: 16px;
    color: pink;
    padding: 0 3px;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox input:focus~.label,
.inputbox input:valid~.label {
    top: 0;
    font-size: 13px;
    background: black;
    background-blend-mode: lighten;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.inputbox textarea:focus~.label,
.inputbox textarea:valid~.label {
    top: 0;
    font-size: 13px;
    background: black;
    background-blend-mode: lighten;
    border-left: 2px solid wheat;
    border-right: 2px solid wheat;
}

.btn {
    width: 9rem;
    height: 3rem;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 20px;
    color: aliceblue;
    background-color: black;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 350px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: column;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: column;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: column;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: column;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 550px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: column;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: column;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: row;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: row;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: row;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: row;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1150px) {
    .contact {
        padding: 50px;
    }
    .contactcontainer {
        flex-direction: row;
    }
    .contactinfo {
        width: 100%;
        margin-left: 1rem;
    }
}