    .contactcontainer {
        background: rgba(0, 0, 0, 0.7)url("../public/house.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
        background-blend-mode: darken;
    }
    
    .contacttitle {
        width: 100vw;
        text-align: center;
        margin-top: 3rem;
    }
    
    .titles {
        font-size: 45px;
        font-weight: 500;
        color: whitesmoke;
    }
    
    .contactparagraph {
        color: whitesmoke;
        font-size: 3rem;
    }
    
    .contactcontainers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
        width: 60%;
        margin-left: 17rem;
    }
    
    .containerhead {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        margin-top: -2rem;
        gap: 4rem
    }
    
    .contactbox {
        display: flex;
        flex-direction: column;
    }
    
    .contacttext {
        font-size: 17px;
        color: whitesmoke;
        font-weight: 300;
        margin-left: -2rem;
        margin-top: 1rem;
    }
    
    .contacticons {
        width: 4rem;
        height: 60px;
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22PX;
        margin-left: -2rem;
    }
    
    .contacttexts {
        font-weight: 500;
        color: whitesmoke;
    }
    
    .contactssite {
        color: whitesmoke;
        font-size: 17px;
        color: whitesmoke;
        font-weight: 300;
        margin-left: 5rem;
        margin-top: 0rem;
        text-decoration: none;
    }
    
    .contactinput {
        margin-top: 2rem;
        margin-right: 8rem;
    }
    
    .inputbox {
        position: relative;
        margin: 42px 0;
    }
    
    .forms {
        width: 17rem;
        height: 40px;
        font-size: 16px;
        color: white;
        padding: 0 3px;
        background: transparent;
        outline: none;
        border: 1.2px solid white;
        border-radius: 3px;
    }
    
    .contacttexts {
        margin-left: 6rem;
        margin-top: -4rem;
    }
    
    .names {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 16px;
        color: white;
        padding: 0 3px;
        pointer-events: none;
        transition: .5s;
    }
    
    .inputbox .forms:focus~.names,
    .inputbox .forms:valid~.names {
        top: 0;
        font-size: 13px;
        background: black;
        background-blend-mode: lighten;
        border-left: 2px solid wheat;
        border-right: 2px solid wheat;
    }
    
    .inputbox textarea {
        height: 100px;
        width: 17rem;
        font-size: 16px;
        color: white;
        padding-left: 3px;
        padding-top: 10px;
        background: transparent;
        outline: none;
        border: 1.2px solid white;
        border-radius: 3px;
        resize: none;
    }
    
    .inputbox .names1 {
        position: absolute;
        top: 20%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 16px;
        color: beige;
        padding: 0 3px;
        pointer-events: none;
        transition: .5s;
    }
    
    .inputbox textarea:focus~.names1,
    .inputbox textarea:valid~.names1 {
        top: 0;
        font-size: 13px;
        background: black;
        background-blend-mode: lighten;
        border-left: 2px solid wheat;
        border-right: 2px solid wheat;
    }
    
    .submit {
        display: flex;
        justify-content: center;
    }
    
    .btn {
        width: 9rem;
        height: 3rem;
        font-size: 18px;
        font-weight: 700;
        transition: all 0.5s ease-in-out;
        border: none;
        cursor: pointer;
        margin-top: 0.5rem;
        color: aliceblue;
        background-color: black;
        font-family: "Nunito Sans", sans-serif;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    }
    
    @media screen and (min-width:1000px) and (max-width:1100px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-right: 4rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-right: 4rem;
        }
    }
    
    @media screen and (min-width:900px) and (max-width:1000px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-right: 4rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-right: 4rem;
        }
    }
    
    @media screen and (min-width:870px) and (max-width:900px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-right: 4rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-right: 4rem;
        }
    }
    
    @media screen and (min-width:800px) and (max-width:870px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-right: 4rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-right: 4rem;
        }
    }
    
    @media screen and (min-width: 660px) and (max-width: 800px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-right: 2rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-right: 2rem;
        }
    }
    
    @media screen and (max-width: 660px) and (min-width: 600px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-left: 7rem;
            margin-top: -27rem;
            gap: 1rem
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-top: 19rem;
            margin-right: 4rem;
            margin-left: -14rem;
        }
    }
    
    @media screen and (max-width: 600px) and (min-width: 500px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-left: 7rem;
            margin-top: -27rem;
            gap: 1rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-top: 19rem;
            margin-right: 4rem;
            margin-left: -14rem;
        }
    }
    
    @media screen and (min-width: 401px) and (max-width: 500px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-left: 7rem;
            margin-top: -27rem;
            gap: 1rem;
        }
        .contactsparagraph {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-top: 19rem;
            margin-right: 4rem;
            margin-left: -14rem;
        }
    }
    
    @media screen and (max-width: 400px) {
        .contactcontainer {
            width: 100vw;
        }
        .containerhead {
            justify-content: center;
            margin-left: 7rem;
            margin-top: -27rem;
            gap: 1rem
        }
        .contactssite {
            margin-left: 6rem;
        }
        .contacttexts {
            margin-left: 6rem;
        }
        .contactcontainers {
            margin-left: 0rem;
        }
        .contactinput {
            margin-top: 19rem;
            margin-right: 4rem;
            margin-left: -14rem;
        }
    }