    .detailpage {
        margin: auto;
        margin-top: 3.5rem;
        margin-bottom: 0.5rem;
        margin-left: 5%;
        display: flex;
    }
    
    .details {
        margin-left: 5%;
        font-weight: bold;
        font-family: "Nunito Sans", sans-serif;
        margin-top: 0.5rem;
    }
    
    .detailhead {
        margin-top: 20px;
    }
    
    .paradetail {
        margin-top: 1rem;
        width: 30rem;
        font-family: "Nunito Sans", sans-serif;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .icons {
        width: 3rem;
        margin-top: 5px;
    }
    
    .detailimage {
        width: 50vw;
    }
    
    .detailimage1 {
        width: 17vw;
        margin: 2px;
    }
    
    .pics1 {
        display: flex;
        cursor: pointer;
    }
    
    .detailpics {
        display: flex;
        cursor: pointer;
    }
    
    .btnss {
        display: flex;
        flex-direction: column;
        margin-left: 65%;
        margin-top: -5%;
    }
    
    .iconss {
        width: 1.5rem;
    }
    
    .btns {
        width: 15rem;
        height: 3rem;
        font-size: 18px;
        font-weight: 700;
        transition: all 0.5s ease-in-out;
        border: none;
        cursor: pointer;
        margin-top: 2rem;
        border-radius: 20px;
        color: black;
        background-color: skyblue;
        font-family: "Nunito Sans", sans-serif;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    }
    
    .explain {
        display: flex;
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 3.5rem;
    }
    
    @media screen and (max-width: 400px) {
        .detailpage {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .details {
            margin-left: 5.5rem;
        }
        .paradetail {
            align-items: center;
            width: 25rem;
        }
        .btnss {
            align-items: center;
            margin-right: 9rem;
        }
    }