.containers {
    width: 85vw;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.images {
    width: 30.2rem;
    height: 19.1rem;
}

.buttons {
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
    background-color: #00D4FF;
    border: skyblue;
    font-size: large;
    color: aliceblue;
    cursor: pointer;
    margin-left: 5rem;
}

.searchhead {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 0.5rem;
    margin-left: 5rem;
}

.searchText {
    margin-top: 2rem;
    margin-left: 5rem;
}

.images {
    margin-left: 5rem;
}

@media screen and (max-width: 350px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 18rem;
    }
    .searchhead {
        font-size: large;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 3rem;
        width: 18rem;
    }
    .searchhead {
        font-size: larger;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 22rem;
    }
    .searchhead {
        font-size: 1.5rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 25rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 550px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1150px) {
    .images {
        display: none;
    }
    .searchText {
        margin-left: 2rem;
        width: 29rem;
    }
    .searchhead {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
    .buttons {
        margin-left: 1rem;
    }
}